/* Add custom CSS styles here */
#layerSwitcher {
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  #layerSwitcher label {
    display: block;
  }

html,
body {
  height: 100%;
  margin: 0;
}

#map {
  height: calc(100% - 5px); /* Subtract the navbar height */
}



  